<!DOCTYPE html>
<html lang='<%- page.lang %>'>
<%- partial('_partial/head') %>
<body>


  <script src="https://registry.npmmirror.com/hexo-lanternjs/latest/files/lantern.min.js"></script>
  <div id="lantern-wrapper" class="lantern-wrapper" no-select></div>
  <script>
    let lantern = new Lantern('lantern-wrapper', {
        date: {								// 日期格式：'月-日'
            from: '12-20',					// 开始悬挂灯笼的日期
            to: '1-31'						// 结束悬挂灯笼的日期
        },
        postion: {
            zIndex: 9999,					// 整个灯笼的 z-index 属性
            lanternRL: [10, 150, 150, 10],	// 灯笼距离边界的距离：左侧灯笼距离左边的距离，右侧登录距离右侧的距离；页面灯笼从左往右依次设置
            lanternTop: 0					// 灯笼距离顶部的距离。你也可以使用数组从左往右依次设置每个灯笼的距顶距离，例如：[0, 100, 200, 300]
        },
        content: '欢庆佳节'					 // 灯笼内显示的文字，只会截取前四个字符
    });
  </script>


  <%- partial('_partial/cover/index') %>
  <div class='l_body' id='start'>
    <aside class='l_left' layout='<%- page.layout %>'>
    <%- partial('_partial/sidebar/index') %>
    </aside>
    <div class='l_main<%- page.content ? "" : " list" %>'>
      <%- partial('_partial/main/header/index') %>
      <%- body %>
      <%- partial('_partial/main/footer') %>
      <%- partial('_partial/menubtn') %>
    </div>
  </div>
  <div class='scripts'>
    <%- partial('_partial/scripts/index') %>
  </div>
</body>
</html>
